/*--------------Menu CSS--------------*\
	$HEADER
    $MAIN
	$FOOTER
	$CONTENT TAGS
	$FORMULAIRE
	$PROGRESS BAR
	$VIEWS CARD
	$VIEWS GRID
	$VIEWS TAGS CLOUD
\*------------------------------------*/
body {
    color: #333;
}
img{
  max-width: 100%;
  height: auto;
}
a{
	color:#3E76BB;
	text-decoration:none;}
a:hover, a:focus{
	color:#346799;
	text-decoration:underline;}
/*------------------------------------*\
    $HEADER
\*------------------------------------*/
#logo{
	width:150px;
	display: inline-block;
	border-radius: 50%;
}
#logo img{
	border-radius: 50%;
}
#site-name a{
	text-decoration:none;
}
/*------------------------------------*\
    $MAIN
\*------------------------------------*/
#header_content{
	padding: 6em 4em;
}
#main_content{
	padding: 4em 2em 4em;
}
#footer_content{
	padding: 4em 4em 6em;
}
#footer_wrapper,
#header_wrapper{
	background-color:#212121;
	background-attachment:  fixed;
	color: #FFF;
	text-align:center;}
	
	#header_wrapper a,
	#footer_wrapper a{
		color:#FF4F25;}
		
	#header_wrapper a:hover,
	#header_wrapper a:focus,
	#footer_wrapper a:hover,
	#footer_wrapper a:focus{
		color:#A9422A;}

@media (min-width: 992px) {
	#header_wrapper{
		left: 0px;
		height:100%;
		position: fixed;
		text-align: right;
		top: 0px;	
	}
	#header_content{
		padding: 8em 4em 0px 0px;
	}
	#footer_wrapper{
		bottom: 0px;
		left: 0px;
		position: fixed;
		text-align: right;
	}
	#footer_content{
		padding: 0px 4em 6em 0px;
	}
}
/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
#btn_up {
    bottom: 15px;
	cursor: pointer;
	display: none;
	position: fixed;
    right: 25px;
}
/*------------------------------------*\
    $CONTENT TAGS
\*------------------------------------*/
.field-name-field-skills .field-item,
.field-name-field-tags .field-item{
	display:block;}
	
	.field-name-field-skills a,
	.field-name-field-tags a{
		background-color:#FAFAFA;
		display:block;
		margin-bottom: 5px;
		padding:10px 25px;
		text-align:center;}
		
@media (min-width: 768px) {
	.field-name-field-skills .field-item,
	.field-name-field-tags .field-item{
		display:inline-block;}
		
	.field-name-field-skills a,
	.field-name-field-tags a{
		margin: 0px 5px 5px 0px;}
}
/*------------------------------------*\
    $FORMULAIRE
\*------------------------------------*/
.form-text,
.form-select,
.form-textarea,
.form-type-textfield > input,
.form-type-textarea  > textarea,
.form-type-password > input,
.form-actions > input{
	background-color: #FFF;
	background-image: none;
	color: #555;
	display: block;
	font-size: 100%;
	line-height: 1.42857;
	width: 100%;
	padding:5px
}
.form-select,
.form-type-textarea  > textarea,
.form-actions > input{
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.form-text,
.form-textarea,
.form-type-textfield > input,
.form-type-password > input{
	border: 0;
	border-bottom: 3px solid #ccc;
	border-left: 10px solid #ccc;
}
.form-text.error,
.form-text.error:hover,
.form-text.error:focus,
.form-textarea.error,
.form-textarea.error:hover,
.form-textarea.error:focus{
	border: 0!important;
	border-bottom: 3px solid #c00!important;
	border-left: 10px solid #c00!important;
	color:#000;
}
.form-text:hover,
.form-text:focus,
.form-textarea:hover,
.form-textarea:focus,
.form-type-textfield > input:hover,
.form-type-textfield > input:focus,
.form-type-password  >input:hover,
.form-type-password > input:focus {
	color:#3586C7;
	border-color:#3586C7;
}
.form-actions > input {
	padding: 10px;
	margin-bottom:5px;
}

.form-actions > input:hover,
.form-actions > input:focus {
	color:#3586C7;
	border-color:#3586C7;
}
/*------------------------------------*\
    $VIEWS CARD
\*------------------------------------*/
.card {
	margin:1em;
	background-color:#FAFAFA;}

	.card__wrapper{ }

	.card__image img{
		width:100%;
		background-color: #FFF;}

	.card__content{
		padding:1em;}

		.card__title {}
		.card__info {}
			.card__organization {}
			.card__location {}
			
		.card__date {}
			.card__date_first {}
			.card__date_second {}

		.grid__more a,
		.card__more a{
			color:#333;
			display:inline-block;
			padding:10px 20px;
			border: 1px solid #CCC;}

			.grid__more a:focus,
			.grid__more a:hover,
			.card__more a:focus,
			.card__more a:hover{
			color:#E14824;
			border-color: #E14824;
			text-decoration:none;
			transition:color 0.3s, border-color 0.3s;}
			
/*------------------------------------*\
    $VIEWS GRID
\*------------------------------------*/		
.grid:hover .grid__content{
	display:block;}		

	.grid__image img{
		width:100%;
		background-color: #FFF;}

	.grid__content{
		background-color: #FFF;
		bottom: 0;
		display: none;
		left: 0;
		opacity: 0.8;
		padding: 10px;
		position: absolute;
		right: 0;
		top: 0;
		text-align: center;
		transition: opacity 0.5s ease 0s;}
/*------------------------------------*\
    $VIEWS TAGS CLOUD
\*------------------------------------*/	
.tag__cloud{
	display:block;
	padding:10px 0px;}
	
	.tag__cloud_number{
		padding:10px;
		background-color:#7DC579;
		color:#FFF;}

	.tag__cloud_name a{
		padding:10px 25px;
		background-color:#FAFAFA;}