.nav {
	margin-top: 1.5em;
	padding-left: 0;
	list-style: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	background-color:#eee;		
	color:#000;
}
.nav-tabs  li a:hover{
	background-color:#eee;
}
.nav-tabs li{
	display: block;
}
.nav-tabs  li a{
	display: block;
	margin-bottom: 5px;
	padding: 5px 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	text-decoration: none;
}
@media (min-width: 768px) {
	.nav-tabs li{
		display: inline-block;
	}
}

#main-menu{}
	
	#main-menu ul{}
		
		#main-menu li {
			list-style-type:none;
			display:inline-block;}

			#main-menu li a{
				color:#FFF;
				display:block;
				padding: 10px 10px;
				text-decoration:none;}

			#main-menu  li a:hover,
			#main-menu  li a:focus{
				background-color:#2F2F2F;
				border-bottom:1px solid #FFF;
				color:#FFF;
				padding-bottom: 9px;}

@media (min-width: 992px){
	#main-menu{}
	
	#main-menu ul{}
		
		#main-menu li {
			display:block;
			list-style-type:none;
		}

			#main-menu li a{
				padding: 10px 0px;
			}

			#main-menu  li a:hover,
			#main-menu  li a:focus {}
}