/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------5------------------------------------------------GENERAL------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
body {
    background-attachment: fixed;
    background-image: url("overlay.png"),url("bocage_central-2.png");
	background-color: rgb(255,0,255,0.5);
    background-position: center; 
    background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
}
h2{
	color:#5c80b4;
}
a{
	color: #5c80b4;
	text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
img{
	width:100%;
	height:auto;
}
article, 
.panel-display, 
.field-item{
	margin-left: 15px;
	margin-right: 15px;
}

header{
	background-color: white;
	box-shadow: 3px 3px 13px 0px #cfcfcf;
}
pre {
	background-color: #f5f5f5;
	color: #333;
	overflow: auto;
	padding: 9.5px;
	white-space: pre-wrap;
    word-break: break-all;
}
blockquote{
	margin-left:32px;
	background:	url('images/blockquote.png')top left no-repeat,
				url('images/blockquote.png')bottom right no-repeat;
	background-repeat:no-repeat;
	font-style: italic;
	padding-bottom:1px;
	padding-top:1px;
	text-indent: 40px;
}
/*écartement des grandes parties*/
#header-wrapper,
#main-wrapper,
#footer-columns{
	padding: 5px 15px;
}
#pdf_reader{
	margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}
/*bloc de soumission article*/
.submitted{
	color: grey;
	font-size: 10px;
	float: bottom;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------CONTENU_CENTRAL---------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#content{
	background-color: white;
	border-top: 5px #5c80b4 solid;
	box-shadow: 3px -10px 13px 0px #CFCFCF;
	margin-left: 6px;
	margin-right: 6px;
}
#content h1{
	border-bottom: 1px #a9a9a9 solid;
	color:#e87739;
	padding-left: 10px;
}
#content article header{
	box-shadow: none;
}
#main-wrapper{
	background-color: #f0f0f0;
}
/*Quelque problème de taille avec le module 
bloc icone nous oblige à donner des tailel fixe*/
.language-icon{
	width:22px;
	height:14px;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------BLOCKS------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/	
/*Affichage des blocks*/
.block{
	background-color: white;
	border-top: 5px #5c80b4 solid;
	box-shadow: 3px 3px 13px 0px #cfcfcf;
	margin-bottom: 10px;
	margin-left: 6px;
	margin-right: 6px;
}
.block .block-title{
	border-bottom: 1px #a9a9a9 solid;
	border-spacing: 10px;
	color: #e87739;
	font-size: 14px;
	padding-left: 10px;
}
.sidebar .block img{
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------MENU_SECONDAIRE---------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*menu context 2*/
.menu{
	margin:0;
	padding:0;
	list-style:none;
}
.menu .menu{ 
	padding-bottom: 20px;
}

.menu li a{
    display: block;
    padding: 4px 20px;
    font-size: 14px;
    color: #767676;
	padding-bottom: 1px;
	padding-top: 1px;
}
.menu .menu li a{ 
	font-size: 13px;
	padding-left: 30px;
}
.menu .menu .menu li a{ 
	font-size: 11px;
	padding-left: 40px;
}

.menu li a:hover{
    padding-left: 19px;
    color: #5C80B4;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #5C80B4;
}
.menu .menu li a:hover{ 
	padding-left:29px;
}
.menu .menu .menu li a:hover{ 
	padding-left:39px;
}

.menu li a.active{
    color: #5C80B4;
    background-color: transparent;
    border-left: 2px solid #5C80B4;
    font-weight: 700;
}
.menu li a.active{ 
	padding-left:18px;
}
.menu .menu li a.active{
	padding-left:28px;
}
.menu .menu .menu li a.active{
	padding-left:38px;
}

li.is-collapsed {
	/*list-style:initial;*/
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------ACTULITE----------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*actualité*/
#block-views-actualite-block-1{
	border-top:none;
	box-shadow:none;
}
.panel-1col,.panel-2col-stacked{
	margin:10px;
}
.actu-tags{
	background-color:#E87739;
	padding:3px 20px;
}
.actu-tags a{
	color:white;
	text-decoration: none;
}
.actu-body{
	min-height:0px;
}
.actu-more a{
	border: 1px solid rgb(225, 225, 225);
	border-radius: 2px;
	width:100%;
	padding: 5px 20px;
	text-align: center;
	color: 
}
.actu-more a:hover,
.actu-more a:focus{
	border-radius: 2px;
	background-color:#E9E9E9
}
.actu-img{
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(221, 221, 221);
	border-radius: 4px;
	padding: 4px;
}
.more-link{
	float:right
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------FOOTER------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*région du footer*/
#footer-wrapper{
	background-color: #3a3a3a;
	color:#FFF;
}
#footer-wrapper .block{
	background-color: transparent;	
	box-shadow: none;
	border: none;
	padding:5px 15px;
	margin-bottom:0px;
}
#footer-wrapper h2,
#footer-wrapper li a{
	color:#FFF;
}
footer{
	padding: 8px 0px;
	margin-top:20px;
	background-color:#141414;
}
footer .menu{
	margin:0;
    text-align: left;
}
footer .menu li{
	display: block;
	margin-right: 30px;
}
#footer-wrapper .menu li a{
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #FFF;
}
#footer-wrapper .menu li a:hover{
    padding-left: 19px;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #FFF;
}
#footer-wrapper .menu li a.active{
    background-color: transparent;
    border-left: 2px solid #FFF;
    font-weight: 700;
}
#footer-wrapper .menu li a.active{ 
	padding-left:18px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------HEADER------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.logo_header{
	padding: 15px;
}
#header-wrapper{
	background-color: #FFF;
}
#header-wrapper .block{
	border-top: none;
	box-shadow: none;
	background-color: transparent;
	display:inline-block;
}
#header-wrapper .block.block-tb-megamenu{
	display:block;
}
.region-info-header .block ul{
	padding:0;
	margin:0;
	list-style:none;
}
.region-info-header .block ul li{ 
	display:inline-block;
}
#block-block-9{
	width: 60%;
}
#block-locale-language{
	width: 10%;
}
#block-text-resize-0{
	width: 10%;
}
.block-tb-megamenu-main-menu{
	width: 100%;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------NAV_PRINCIPALE-----------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------SLIDER-----------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*gestion des arrows pour le slider flex*/
.flex-direction-nav a:before {
  font-family: "arial";
  font-size: 46px;
  color: white;
}
.flex-direction-nav a.flex-next:before {
    content: ">";
}
.flex-direction-nav a.flex-prev:before {
    content: "<";
}
.flexslider {
	margin: 0;
}
.flex-caption{
	background-color: #000;
	bottom:0;
	left:0;
	opacity: 0.8;
	padding:10px 20px;
	position:absolute;
	right:0;
	
}
.flex-caption a{
	font-size: 20px;
	color:#FFF;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------RECHERCHE---------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*formulaire recherche*/
#search-block-form .form-text{
	width:100%;
	border-width: medium medium 1px;
	border-style: none none solid;
	border-color: -moz-use-text-color -moz-use-text-color #5C80B4;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
}

#search-block-form .form-submit{
	margin-top:10px;
	padding:5px;
	width:100%;
	color: #FFF;
	background-color: #5C80B4;
	border: medium none;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------VIEWS-------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#block-views-slideshow-block{
	box-shadow: none;
	border-top: none;
}
.views_slideshow_cycle_div_actualite-page_1_1 header{
	box-shadow: 0px 0px 0px 0px transparent;
}
#block-views-slideshow-block{
	box-shadow: none;
	border-top: none;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------CANCEROLOGIE------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*page et contenu de la cancérologie*/
.cancer{
	border:1px solid #AAA;
	border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	margin:10px;
	text-align:center;
}
.cancer:hover,
.cancer:focus{ 
	background-color:#E9E9E9;
}
.cancer:hover a,
.cancer:focus a{ 
	color:#e87739;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------POLES------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*pour la listes des services*/
.title-pole a{
	color:#e87739;
}
.services{
	border:1px solid #AAA;
	border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	margin:10px;
	text-align:center;
	margin:15px;	
}
/*pour un services*/
.service{
	padding:5px 20px;
}
.service:nth-child(2n) {
    background-color: #E9E9E9;
}
.service a:hover ,
.service a:focus { 
	color:#e87739;
}
/*node du service*/
.field-name-field-personnel .even{
	background-color: #E9E9E9;
}

.ui-autocomplete .ui-menu-item-:hover{
	background-color: #5C80B4!important;
}

/*--------------------------------------------------------BORDEL A THEO-------------------------------------------*/
/*mot de la DG*/
#block-block-6 .block-content .col-md-1 img{
	background-size: 100%;
	margin-right: 30px;
}


@media (min-width: 768px) {
	/*Amélioration du placement des sidebars pour le format mobile*/
	div.right{
		float:right;
	}
	.actu-body{
		min-height:180px;
	}
	footer .menu {
		margin: 0px;
		text-align: center;
	}
	footer .menu li{
		display:inline-block;
	}
	/*Gérre le responsive format mobile du panel 
	(utilisé pour la première actualité) twocol_stacked.css*/
	.panel-2col-stacked .panel-col-first { 
	  float: left; 
	  width: 100%; 
	}
	* html .panel-2col-stacked .panel-col-first {
	  width: 100%;
	}
	.panel-2col-stacked .panel-col-first .inside { 
	  margin: 0 .5em 1em 0;
	}
	.panel-2col-stacked .panel-col-last { 
	  float: left; 
	  width: 100%; 
	}
		
}
@media (min-width: 992px) {
	/*Amélioration du placement des sidebars pour le format tablette*/
	div.right{
		float:left;
	}
	/*Gérre le responsive format tablette du panel 
	(utilisé pour la première actualité) twocol_stacked.css*/
	.panel-2col-stacked .panel-col-first { 
	  float: left; 
	  width: 50%; 
	}
	* html .panel-2col-stacked .panel-col-first {
	  width: 49.9%;
	}
	.panel-2col-stacked .panel-col-first .inside { 
	  margin: 0 .5em 1em 0;
	}
	.panel-2col-stacked .panel-col-last { 
	  float: left; 
	  width: 49.9%; 
	}
}
