
/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * La One-Page na aucun taille fixe, elle prend toute la place. Cependant le contenu du panel
 * est soumis au responsive. Il faut donc gérrer les 2 cas.
 */

/*Container*/
.one-page #main-wrapper,
.one-page #content{
	width:100%;
}

/*Container de la OnePage*/
.one-page .pane-content{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .one-page .pane-content {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .one-page .pane-content {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .one-page .pane-content {
    width: 1170px;
  }
}