/**
 * respond-panel.css offre un meilleur responsive-design
 * il suis la même logique que la bibliothèque de bootstrap, le mobile first
 */

/*panel twocol_stacked.css*/
.panel-2col-stacked .panel-col-first { 
  float: left; 
  width: 100%; 
}
* html .panel-2col-stacked .panel-col-first {
  width: 100%;
}
.panel-2col-stacked .panel-col-last { 
  float: left; 
  width: 100%; 
}
/*panel twocol.css*/
.panel-2col .panel-col-first { 
  float: left; 
  width: 100%; 
}
* html .panel-2col .panel-col-first {
  width: 100%;
}
.panel-2col .panel-col-last { 
  float: left; 
  width: 100%; 
}
* html .panel-2col .panel-col-last {
  width: 100%;
}
	
@media (min-width: 768px) {
	/*panel twocol.css*/
	.panel-2col .panel-col-first { 
	  float: left; 
	  width: 50%; 
	}
	* html .panel-2col .panel-col-first {
	  width: 49.9%;
	}
	.panel-2col .panel-col-last { 
	  float: left; 
	  width: 50%; 
	}
	* html .panel-2col .panel-col-last {
	  width: 49.9%;
	}
}
@media (min-width: 992px) {
	/*panel twocol_stacked.css*/
	.panel-2col-stacked .panel-col-first { 
	  float: left; 
	  width: 50%; 
	}
	* html .panel-2col-stacked .panel-col-first {
	  width: 49.9%;
	}
	.panel-2col-stacked .panel-col-last { 
	  float: left; 
	  width: 49.9%; 
	}
}